<nav class="navbar navbar-expand-lg ">
        <img class="navbar-brand" src="assets/img/mentor2.png" alt="mentor logo" width="75" height="100">
        <h2>Mentor On Demand</h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-button">
                    <a routerLink="/userhomepage">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    
<div class="col-lg-12">

        <nav class="nav mx-auto">
                <button routerLink="/userrinfoedit" class="btn btn-info">Edit</button>
            </nav> 
               <div class="card hovercard">
                
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="card-info"> 
            <div class="card-title">Pamela Anderson</div>
            <div class="card-title">pameander@gmail.com</div>
            <div class="card-title">A student in gaining knowledge</div>
    
        </div>
    </div>
    
    <br>
    <br>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link" routerLink="/userinfopage">Courses</a>
        <a class="nav-item nav-link" routerLink="/inprogress">In-Progress</a>
        <a class="nav-item nav-link active" routerLink="/completedcourse">Completed</a>
    </nav>
    </div>

<div class="container">
        <div class="row">
            <h5>Spring</h5>
    
        </div>
    <div class="progress col-md-8">
        <div class="progress-bar" role="progressbar" style="width: 105%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
      </div>
      <div class="row" style="padding: 20px;">
      <button class="btn btn-light" placeholder="Continue">Retake</button>
      </div>
    </div>
    