<nav class="navbar navbar-expand-lg ">
        <img class="navbar-brand" src="assets/img/mentor2.png" alt="mentor logo" width="75" height="100">
        <h2>Mentor On Demand</h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-button">
                    <a routerLink="/userhomepage">Home</a>
                </li>
            </ul>
        </div>
    </nav>
<br>
<br>
<div class="container">
    <div class="row px-mx-2">
        <div class="col-md-4 center-block">
            <table class="mx-auto">
                <tr class="table-space">
                    <td>
                        <br>
                        <img src="assets/img/dp.jpg" alt="Upload image" width="175px" height="250px">
                        </td>
                        </tr>
                <tr>
                    <br>
                    <td class="upload-btn">
                        <input type="button" value="Upload" class="btn btn-secondary">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
                <div class="form form-group">
                   <table >
                       <tr>
                           <br>
                        <td>
                            
                            FirstName
                            <input type="text" class="col-sm-12" value="">
                        </td>
                        <td>
                                LastName
                                <input type="text" class="col-sm-12" value="">
                            </td>
                       </tr>
                       <tr>
                            <br>
                           <td>
                               <br>

                                Email Id
                            </td>
                            <td>
                            <br>

                                    <input type="email" class="col-sm-8" value="">
                            </td>
                       </tr>
                       <tr>
                            <br>
                           <td>
                               <br>

                                Mobile No
                            </td>
                            <td>
                            <br>

                                    <input type="text" class="col-sm-8" value="">
                            </td>
                       </tr>
                     
  
                                       <tr>
                            <br>
                            <td></td>
                                           <td style="size: 100px;">
                            <br>

                                        <input type="button" class="btn btn-primary" value="Submit">                                                       
                                           </td>
                                           <td></td>

                                       </tr>
                   </table>
                </div>
            </div>
        </div>
    </div>