<app-header></app-header>
<div background="assets/img/background.jpg">
<div class="container">
    <div class="row">
            <div class="col" >
            <h2>
                We envision a world where anyone, anywhere can transform their life by accessing the world’s best learning experience.
                </h2>
                </div>
                <div class="col">
                <img src="assets/img/bglogo.jpg" alt="AboutUsLogo" width="100%" height="100%">
            </div>
    </div>
</div>
<br>
<br>
<div class="container container-fluid">
	<div class="row justify-content-center trans">
      <div class="col-12 ">
          <div class="form card card-sm">
              <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                      <i class="fas fa-search h4 text-body"></i>
                  </div>
                  <!--end of col-->
                  <div class="col">
                      <select name="course" class="form-control form-control-lg form-control-borderless" placeholder="Search topics or keywords">
                          <option value="" selected disabled hidden>Search topics or keywords</option>
                          <option value="java">Java</option>
                          <option value="angular6">Angular6</option>
                          <option value="spring">Spring</option>
                          <option value="python">Python</option>
                        </select>
                  </div>
                  <!--end of col-->
                  <div class="col-auto btn-back">
                      <button class="btn btn-lg btn-success btn-primary btn-bg" type="submit">
                        <a routerLink="/mentorlist">Search
                        </a>
                      </button>
                  </div>
                  <!--end of col-->
              </div>
            </div>
      </div>
      <!--end of col-->
  </div>
</div>
</div>